body {
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

header {

    background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/B9A1-New-Year-New-Mission-main/resources/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 82%;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;

    margin: 50px auto;

}

.header-content {

    padding: 150px 350px 180px 350px;


}

.h-content-greeting {
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 10px;


}

.h-content-tittle {
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;

    margin-top: 0;



}

/* sec-1-details */


.sec-1-tittle {

    color: #F00;
    text-align: center;
    /* font-family: Inter; */
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 20px;

}

.sec-1-p {
    color: #F00;
    text-align: center;
    /* font-family: Inter; */
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 0;

}

.sec-1-tittle2 {
    color: #070211;
    text-align: center;
    /* font-family: Inter; */
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;
    margin-top: 5px;

}

.sec-1-pic {
    display: flex;
    justify-content: center;

}

/* sec-2-details */
.sec-2 {
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/B9A1-New-Year-New-Mission-main/resources/Vectorrr.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 82%;
    max-width: 1320px;
    height: 600px;
    border-radius: 16px;

    margin: 50px auto;
    margin-top: 100px;

}



.sec-2-tittle {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px;
    margin-bottom: 10px;



}

.sec-2-para {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;
    margin-bottom: 30px;

}

.sec-2-button {
    color: #FFF;
    background-color: #070211;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0;

}

.sec-2-pic {
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

}

.sec-2-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 100px;
}

.sec-2-content {
    max-width: 700px;
}

/* sec-details */
.sec-3 {

    width: 82%;
    max-width: 1320px;
    max-height: 500 px;
    margin: 120px auto;
    padding: 70px 0px 80px 0px;

    background: rgba(255, 0, 0, 0.10) 0%;
}


span {
    color: #F00;
    text-align: center;

    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    /* 175% */
    text-transform: capitalize;

}

.sec-3-content {

    text-align: center;
    color: #070211;

    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;




}

.sec-3-button {


    color: #FFF;
    background-color: #F00;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0;
    border: 0;
    border-radius: 5px;
    padding: 16px 32px;


}



/* sec-4 details */
.sec-4 {
    width: 82%;
    max-width: 1320px;
    margin: 140px auto;

}



.sec-4-greeting {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 10px;
}

.sec-4-tittle {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 10px;

}

.sec-4-para {
    color: black;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 10px;
    /* padding: 140px; */


}


.sec-5 {
    border-radius: 16px;

    width: 82%;
    max-width: 1320px;
    max-height: 616 px;
    margin: 120px auto;
    padding: 70px 0px 80px 0px;
    background: rgba(255, 0, 0, 0.05);





}

.sec-5 {
    text-align: center;
}

.sec-5-img {
    width: 150px;
    height: 150px;


}

.sec-5-tittle {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-bottom: 5px;

}

.sec-5-para {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    margin-top: 0;
    padding: 0 280px;

}

.email1 {
    width: 450px;
    height: 50px;

    background: #FFF;
    border-radius:50px 0px 0px 50px;
    border: none;

}

.email2 {
    width: 210px;
    height: 52px;
    border-radius:0 50px 50px 5px;
    background: #F00;
    border: 0;


}



/* footer */
.footer {
    background-color: black;


    width: 100%;

    margin-top: 50px;

}

.footer-para {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */
}

.footer-num {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */

}

.call {
    width: 24px;
    height: 24px;
}

.footer-link {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    /* 166.667% */

}

.website {
    width: 24px;
    height: 24px;
}

.content {
    display: flex;
    justify-content: space-between;
    padding: 120px 140px 20px 140px;
}

.img {
    text-align: center;
}

.footer-para2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.footer-num2 {
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.content2 {
    display: flex;
    justify-content: space-between;
    padding: 120px 140px 20px 140px;

}